<a href="https://colab.research.google.com/github/lpoggetto/trabalho_final_pyspark/blob/main/trabalho_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Instalando spark
!pip install pyspark==3.3.1
# importando pacotes necessarios
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

Requirement already satisfied: pyspark==3.3.1 in /usr/local/lib/python3.10/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.3.1) (0.10.9.5)

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [2]:
# iniciando sessao do spark
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('Analise de jogos internacionais de futebo') \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

In [4]:
# checando sessao
spark

In [6]:
# Lendo o csv com pandas
pandas_df = pd.read_csv('/content/dados_trab.csv')

# convertendo o arquivo para PySpark
df = spark.createDataFrame(pandas_df.to_dict(orient = 'records'))
df

DataFrame[away_score: bigint, away_team: string, city: string, country: string, date: string, home_score: bigint, home_team: string, neutral: boolean, tournament: string]

In [7]:
df.show()

+----------+---------+---------+-------------------+----------+----------+----------------+-------+----------+
|away_score|away_team|     city|            country|      date|home_score|       home_team|neutral|tournament|
+----------+---------+---------+-------------------+----------+----------+----------------+-------+----------+
|         0|  England|  Glasgow|           Scotland|1872-11-30|         0|        Scotland|  false|  Friendly|
|         2| Scotland|   London|            England|1873-03-08|         4|         England|  false|  Friendly|
|         1|  England|  Glasgow|           Scotland|1874-03-07|         2|        Scotland|  false|  Friendly|
|         2| Scotland|   London|            England|1875-03-06|         2|         England|  false|  Friendly|
|         0|  England|  Glasgow|           Scotland|1876-03-04|         3|        Scotland|  false|  Friendly|
|         0|    Wales|  Glasgow|           Scotland|1876-03-25|         4|        Scotland|  false|  Friendly|
|         3| Scotland|   London|            England|1877-03-03|         1|         England|  false|  Friendly|
|         2| Scotland|  Wrexham|              Wales|1877-03-05|         0|           Wales|  false|  Friendly|
|         2|  England|  Glasgow|           Scotland|1878-03-02|         7|        Scotland|  false|  Friendly|
|         0|    Wales|  Glasgow|           Scotland|1878-03-23|         9|        Scotland|  false|  Friendly|
|         1|    Wales|   London|            England|1879-01-18|         2|         England|  false|  Friendly|
|         4| Scotland|   London|            England|1879-04-05|         5|         England|  false|  Friendly|
|         3| Scotland|  Wrexham|              Wales|1879-04-07|         0|           Wales|  false|  Friendly|
|         4|  England|  Glasgow|           Scotland|1880-03-13|         5|        Scotland|  false|  Friendly|
|         3|  England|  Wrexham|              Wales|1880-03-15|         2|           Wales|  false|  Friendly|
|         1|    Wales|  Glasgow|           Scotland|1880-03-27|         5|        Scotland|  false|  Friendly|
|         1|    Wales|Blackburn|            England|1881-02-26|         0|         England|  false|  Friendly|
|         6| Scotland|   London|            England|1881-03-12|         1|         England|  false|  Friendly|
|         5| Scotland|  Wrexham|              Wales|1881-03-14|         1|           Wales|  false|  Friendly|
|        13|  England|  Belfast|Republic of Ireland|1882-02-18|         0|Northern Ireland|  false|  Friendly|
+----------+---------+---------+-------------------+----------+----------+----------------+-------+----------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- away_score: long (nullable = true)
 |-- away_team: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date: string (nullable = true)
 |-- home_score: long (nullable = true)
 |-- home_team: string (nullable = true)
 |-- neutral: boolean (nullable = true)
 |-- tournament: string (nullable = true)