<a href="https://colab.research.google.com/github/lpoggetto/trabalho_final_pyspark/blob/main/trabalho_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Instalando spark
!pip install pyspark==3.3.1
# importando pacotes necessarios
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

Requirement already satisfied: pyspark==3.3.1 in /usr/local/lib/python3.10/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.3.1) (0.10.9.5)

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [2]:
# iniciando sessao do spark
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('Analise de jogos internacionais de futebo') \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

In [4]:
# checando sessao
spark

In [6]:
# Lendo o csv com pandas
pandas_df = pd.read_csv('/content/dados_trab.csv')

# convertendo o arquivo para PySpark
df = spark.createDataFrame(pandas_df.to_dict(orient = 'records'))
df

DataFrame[away_score: bigint, away_team: string, city: string, country: string, date: string, home_score: bigint, home_team: string, neutral: boolean, tournament: string]

In [7]:
# visao inicial do dataset
df.show()

+----------+---------+---------+-------------------+----------+----------+----------------+-------+----------+
|away_score|away_team|     city|            country|      date|home_score|       home_team|neutral|tournament|
+----------+---------+---------+-------------------+----------+----------+----------------+-------+----------+
|         0|  England|  Glasgow|           Scotland|1872-11-30|         0|        Scotland|  false|  Friendly|
|         2| Scotland|   London|            England|1873-03-08|         4|         England|  false|  Friendly|
|         1|  England|  Glasgow|           Scotland|1874-03-07|         2|        Scotland|  false|  Friendly|
|         2| Scotland|   London|            England|1875-03-06|         2|         England|  false|  Friendly|
|         0|  England|  Glasgow|           Scotland|1876-03-04|         3|        Scotland|  false|  Friendly|
|         0|    Wales|  Glasgow|           Scotland|1876-03-25|         4|        Scotland|  false|  Friendly|
|         3| Scotland|   London|            England|1877-03-03|         1|         England|  false|  Friendly|
|         2| Scotland|  Wrexham|              Wales|1877-03-05|         0|           Wales|  false|  Friendly|
|         2|  England|  Glasgow|           Scotland|1878-03-02|         7|        Scotland|  false|  Friendly|
|         0|    Wales|  Glasgow|           Scotland|1878-03-23|         9|        Scotland|  false|  Friendly|
|         1|    Wales|   London|            England|1879-01-18|         2|         England|  false|  Friendly|
|         4| Scotland|   London|            England|1879-04-05|         5|         England|  false|  Friendly|
|         3| Scotland|  Wrexham|              Wales|1879-04-07|         0|           Wales|  false|  Friendly|
|         4|  England|  Glasgow|           Scotland|1880-03-13|         5|        Scotland|  false|  Friendly|
|         3|  England|  Wrexham|              Wales|1880-03-15|         2|           Wales|  false|  Friendly|
|         1|    Wales|  Glasgow|           Scotland|1880-03-27|         5|        Scotland|  false|  Friendly|
|         1|    Wales|Blackburn|            England|1881-02-26|         0|         England|  false|  Friendly|
|         6| Scotland|   London|            England|1881-03-12|         1|         England|  false|  Friendly|
|         5| Scotland|  Wrexham|              Wales|1881-03-14|         1|           Wales|  false|  Friendly|
|        13|  England|  Belfast|Republic of Ireland|1882-02-18|         0|Northern Ireland|  false|  Friendly|
+----------+---------+---------+-------------------+----------+----------+----------------+-------+----------+
only showing top 20 rows

In [8]:
# printando o schema da tabela
df.printSchema()

root
 |-- away_score: long (nullable = true)
 |-- away_team: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date: string (nullable = true)
 |-- home_score: long (nullable = true)
 |-- home_team: string (nullable = true)
 |-- neutral: boolean (nullable = true)
 |-- tournament: string (nullable = true)

### 1 - Quantos registros existem na base?

R: A base conta com 40839 registros

In [10]:
df.count()

40839

### 2 - Quantas equipes únicas mandantes existem na base?

R: 309 equipes mandantes unicas

In [12]:
df.select('home_team').distinct().count()

309

### 3 - Quantas vezes as equipes mandantes saíram vitoriosas?

R: As equipes mandantes foram vitoriosas 19.864 vezes ou seja, em 48% das partidas

In [13]:
df.select('home_team', 'home_score', 'away_score').filter(df.home_score > df.away_score).count()

19864

### 4 - Quantas vezes as equipes visitantes saíram vitoriosas?

R: As equipes visitantes foram vitoriosas 11.544 vezes ou seja, em 28% das partidas

In [14]:
df.select('home_team', 'home_score', 'away_score').filter(df.home_score < df.away_score).count()

11544

### 5 - Quantas partidas resultaram em empate?

R: 9431 partidas resultaram em um empate, ou seja, 23% das partidas.

In [16]:
df.select('home_team', 'home_score', 'away_score').filter(df.home_score == df.away_score).count()

9431

### 6 - Quantas partidas foram realizadas em cada país?

In [27]:
print('Listando todos as partidas por País')
df.select('country') \
  .groupBy('country') \
  .count() \
  .orderBy('count', ascending = False) \
  .show(n = 100000, truncate = False)

Listando todos as partidas por País
+--------------------------------+-----+
|country                         |count|
+--------------------------------+-----+
|United States                   |1144 |
|France                          |801  |
|England                         |687  |
|Malaysia                        |644  |
|Sweden                          |637  |
|Germany                         |581  |
|Brazil                          |529  |
|Spain                           |517  |
|Thailand                        |483  |
|Italy                           |480  |
|Switzerland                     |477  |
|Austria                         |475  |
|United Arab Emirates            |472  |
|South Africa                    |470  |
|Qatar                           |467  |
|South Korea                     |453  |
|Argentina                       |449  |
|Hungary                         |431  |
|Chile                           |405  |
|Belgium                         |396  |
|Mexico                          |392  |
|Egypt                           |391  |
|Netherlands                     |390  |
|Norway                          |385  |
|Scotland                        |385  |
|Uruguay                         |374  |
|Poland                          |372  |
|Denmark                         |371  |
|Trinidad and Tobago             |369  |
|Singapore                       |368  |
|Saudi Arabia                    |367  |
|Kuwait                          |355  |
|Portugal                        |355  |
|Tunisia                         |351  |
|Kenya                           |349  |
|Japan                           |344  |
|Finland                         |325  |
|Wales                           |324  |
|Republic of Ireland             |324  |
|Uganda                          |307  |
|China PR                        |304  |
|Peru                            |297  |
|Morocco                         |296  |
|Tanzania                        |294  |
|Australia                       |294  |
|Turkey                          |294  |
|Romania                         |286  |
|Indonesia                       |285  |
|Malawi                          |284  |
|Greece                          |283  |
|Jamaica                         |276  |
|Costa Rica                      |268  |
|Cyprus                          |266  |
|Ethiopia                        |261  |
|Bulgaria                        |261  |
|Iran                            |255  |
|India                           |253  |
|Malta                           |251  |
|Oman                            |251  |
|Ghana                           |247  |
|Northern Ireland                |243  |
|Zambia                          |241  |
|Jordan                          |236  |
|Bahrain                         |234  |
|Honduras                        |228  |
|Gabon                           |224  |
|Israel                          |222  |
|Ivory Coast                     |221  |
|Luxembourg                      |219  |
|Paraguay                        |218  |
|Yugoslavia                      |217  |
|Estonia                         |212  |
|Hong Kong                       |210  |
|Russia                          |209  |
|Nigeria                         |206  |
|Ecuador                         |206  |
|Senegal                         |202  |
|Haiti                           |198  |
|Mali                            |198  |
|Algeria                         |198  |
|Czechoslovakia                  |194  |
|Bolivia                         |193  |
|Iceland                         |191  |
|Colombia                        |188  |
|Guatemala                       |185  |
|Panama                          |182  |
|El Salvador                     |180  |
|Zimbabwe                        |170  |
|Venezuela                       |170  |
|Congo                           |164  |
|Soviet Union                    |164  |
|Cameroon                        |164  |
|Libya                           |163  |
|Latvia                          |161  |
|Albania                         |159  |
|Burkina Faso                    |158  |
|Lebanon                         |158  |
|Rwanda                          |157  |
|Sudan                           |157  |
|Angola                          |153  |
|Iraq                            |146  |
|Barbados                        |146  |
|Martinique                      |143  |
|New Zealand                     |139  |
|Fiji                            |139  |
|Togo                            |136  |
|Lithuania                       |134  |
|Botswana                        |134  |
|Mozambique                      |134  |
|Suriname                        |131  |
|Liberia                         |131  |
|Guinea                          |130  |
|Ukraine                         |130  |
|German DR                       |129  |
|Canada                          |128  |
|Vietnam                         |125  |
|Croatia                         |125  |
|Slovakia                        |123  |
|New Caledonia                   |123  |
|Gambia                          |122  |
|Georgia                         |122  |
|Sierra Leone                    |121  |
|Czech Republic                  |119  |
|Eswatini                        |114  |
|Saint Kitts and Nevis           |108  |
|Namibia                         |108  |
|Bangladesh                      |108  |
|North Macedonia                 |108  |
|Slovenia                        |106  |
|Azerbaijan                      |105  |
|Equatorial Guinea               |104  |
|Syria                           |104  |
|Uzbekistan                      |104  |
|Benin                           |102  |
|Antigua and Barbuda             |101  |
|Faroe Islands                   |101  |
|Lesotho                         |99   |
|Guyana                          |98   |
|Grenada                         |98   |
|Malaya                          |95   |
|Nepal                           |95   |
|Madagascar                      |94   |
|Liechtenstein                   |89   |
|Belarus                         |88   |
|Mauritania                      |88   |
|Guadeloupe                      |88   |
|Mauritius                       |86   |
|Saint Lucia                     |86   |
|Armenia                         |84   |
|Philippines                     |83   |
|Bermuda                         |82   |
|Bosnia and Herzegovina          |82   |
|Niger                           |81   |
|Kazakhstan                      |81   |
|Burma                           |79   |
|Moldova                         |79   |
|Cambodia                        |78   |
|DR Congo                        |78   |
|French Polynesia                |77   |
|San Marino                      |77   |
|Cuba                            |76   |
|Cape Verde                      |76   |
|Maldives                        |73   |
|Netherlands Antilles            |73   |
|Vietnam Republic                |72   |
|Samoa                           |72   |
|Jersey                          |68   |
|Solomon Islands                 |66   |
|Pakistan                        |66   |
|Guinea-Bissau                   |64   |
|Andorra                         |62   |
|Dominica                        |61   |
|Zaïre                           |59   |
|Papua New Guinea                |59   |
|Saint Vincent and the Grenadines|59   |
|Sri Lanka                       |59   |
|Yemen                           |58   |
|Vanuatu                         |58   |
|Curaçao                         |57   |
|French Guiana                   |55   |
|Puerto Rico                     |54   |
|North Korea                     |54   |
|Cayman Islands                  |52   |
|Aruba                           |50   |
|Montenegro                      |49   |
|Macau                           |48   |
|Dominican Republic              |48   |
|Laos                            |48   |
|Réunion                         |47   |
|Chinese Taipei                  |47   |
|Tajikistan                      |46   |
|Serbia                          |45   |
|Burundi                         |43   |
|Guernsey                        |41   |
|Seychelles                      |40   |
|Chad                            |40   |
|Guam                            |40   |
|Northern Cyprus                 |35   |
|Zanzibar                        |34   |
|Turkmenistan                    |33   |
|Kyrgyzstan                      |32   |
|Central African Republic        |31   |
|Gibraltar                       |30   |
|British Virgin Islands          |29   |
|Netherlands Guyana              |29   |
|Tanganyika                      |28   |
|British Guyana                  |28   |
|Western Samoa                   |27   |
|Nicaragua                       |26   |
|Isle of Man                     |24   |
|Upper Volta                     |22   |
|Djibouti                        |21   |
|Somalia                         |17   |
|Belize                          |17   |
|São Tomé and Príncipe           |17   |
|Palestine                       |16   |
|Dahomey                         |16   |
|Eritrea                         |16   |
|Northern Rhodesia               |15   |
|U.S. Virgin Islands             |15   |
|Comoros                         |15   |
|Bhutan                          |14   |
|Mongolia                        |13   |
|Anguilla                        |12   |
|Tonga                           |12   |
|Bahamas                         |12   |
|Serbia and Montenegro           |11   |
|Saint Martin                    |11   |
|United Arab Republic            |11   |
|Southern Rhodesia               |11   |
|Kosovo                          |11   |
|Sint Maarten                    |10   |
|Cook Islands                    |10   |
|Irish Free State                |9    |
|Brunei                          |9    |
|South Sudan                     |9    |
|Afghanistan                     |8    |
|Ceylon                          |8    |
|Éire                            |7    |
|Vietnam DR                      |7    |
|Gold Coast                      |6    |
|Rhodesia                        |6    |
|Saarland                        |6    |
|Monaco                          |5    |
|Yemen AR                        |5    |
|Manchuria                       |5    |
|Myanmar                         |5    |
|Montserrat                      |5    |
|Nyasaland                       |4    |
|French Somaliland               |4    |
|East Timor                      |4    |
|Bohemia                         |3    |
|Northern Mariana Islands        |3    |
|Palau                           |3    |
|New Hebrides                    |3    |
|Turks and Caicos Islands        |2    |
|Tahiti                          |2    |
|Yemen DPR                       |2    |
|Mayotte                         |2    |
|Greenland                       |2    |
|Belgian Congo                   |1    |
|Lautoka                         |1    |
|Portuguese Guinea               |1    |
|Mali Federation                 |1    |
|Bohemia and Moravia             |1    |
|Micronesia                      |1    |
+--------------------------------+-----+

### 7 - Qual país teve mais partidas?

R: O País com a maior qtd. de partidas é os Estados Unidos com 1144 partidas.

In [28]:
df.select('country') \
  .groupBy('country') \
  .count() \
  .orderBy('count', ascending = False) \
  .limit(1) \
  .show()

+-------------+-----+
|      country|count|
+-------------+-----+
|United States| 1144|
+-------------+-----+

### 8 - Qual a partida com maior número de gols?

R: A partida com o maior número de gols foi um jogo de Austrália vs Samoa Americana com um total de 31 gols

In [38]:
# Calculando soma dos gols para as partidas
soma_de_gols = df.withColumn("score_sum", df["home_score"] + df["away_score"])

# Select relevant columns and order by the sum in descending order
result = soma_de_gols.select('home_team', 'away_team', 'home_score', 'away_score', 'score_sum') \
    .orderBy('score_sum', ascending=False) \
    .limit(1)

# Show the result
result.show()

+---------+--------------+----------+----------+---------+
|home_team|     away_team|home_score|away_score|score_sum|
+---------+--------------+----------+----------+---------+
|Australia|American Samoa|        31|         0|       31|
+---------+--------------+----------+----------+---------+

### 9 - Qual a maior goleada?


R: A maior goleada foi também com o maior número de gols foi um jogo de Austrália vs Samoa Americana em que a Austrália ganhou de 31 a 0.

In [34]:
# Calculando a a maior diferenca entre gols
df_with_diff = df.withColumn("score_diff", F.abs(df["home_score"] - df["away_score"]))

# Encontrando a linha com a maior diferenca
max_diff_row = df_with_diff.orderBy(F.desc("score_diff")).first()

# extraindo a maior goleada
max_diff = max_diff_row["score_diff"]

print("Maior diferença de gols:", max_diff)

Maior diferença de gols: 31

### 10 - Quantos jogos ocorreram no Brasil?

R: Ocorreram 529 jogos no Brasil.

In [40]:
df.filter(df.country == 'Brazil').count()

529